extends ../layout.pug

mixin description(content, length)
  p(class='card-text') #{content.length > length ? `${content.substr(0, 50)}…` : content}

block content
  div(class='d-flex justify-content-between align-items-center content__title')
    h1 #{categoryCurrent.name}
    if (me !== undefined)
      a(href=`/c/${categoryCurrent.slug}/insert`)
        svg(class='icon')
          use(xlink:href='/sprites/open-iconic.svg#plus')

  div(class='d-flex mt-3')
    each item in items
      div(class='card mr-4 categoryItem')
        div(
          alt='Card image cap'
          class='categoryItem__photo'
          style=`background-image: url(${awsS3BaseUrl}/${item.slug}.jpg)`
        )
          a(href=`/i/${item.slug}`)
            img(
              class='categoryItem__photoPlaceholder'
              src='data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAQAAAC1HAwCAAAAC0lEQVR42mNkYAAAAAYAAjCB0C8AAAAASUVORK5CYII='
            )
        .card-body
          a(href=`/i/${item.slug}`)
            h5(class='card-title') #{item.name}
          +description(item.description, 120)
          .text-right
            a(href=`/i/${item.slug}` class='btn btn-primary') More
