mixin getCategoryList(categories, categoryCurrentChain)
  ul
    each category in categories
      li
        if (category.depth !== 0)
          svg
            use(xlink:href='/sprites/open-iconic.svg#plus')
        a(href='/c/'+category.slug) #{category.name}

        if (categoryCurrentChain !== undefined && categoryCurrentChain.includes(category.id))
          +getCategoryList(category.children, categoryCurrentChain)

//- ---

nav(class='col-md-3 d-none d-md-block bg-light sidebar')
  div(class='sidebar-sticky mt-2 sidebar__categoryList')
    if (categories !== undefined)
      +getCategoryList(categories, categoryCurrentChain)

  if (me !== undefined)
    hr
    p(class='h4') My Account
    ul(class='list-unstyled')
      li
        a(href=`/u/${me.slug}/listings`) My Listings
      li
        a(href=`/u/${me.slug}/orders`) My Orders
      li
        a(href=`/u/${me.slug}/profile`) My Profile
      li
        a(href=`/u/${me.slug}/addresses`) My Addresses
      li
        a(href=`/u/${me.slug}/email-and-password`) My email and password
      li
        a(href=`/u/${me.slug}/delete`) Delete my account

    if (me.isManager)
      hr
      p(class='h4') Administration
      ul(class='list-unstyled')
        li
          a(href='/a/category') Categories

  hr
  p(class='text-center')
    small= version
