extends ../layout.pug

block content
  h1 Log In
  form(class='mt-3' method='post' action='/login' novalidate)
    div(class='form-group')
      label(for='username') Public Username
      input(
        autocapitalize='off'
        autocomplete='username'
        autocorrect='off'
        class=`form-control${errors && errors.username ? ' is-invalid' : ''}`
        id='username'
        name='username'
        placeholder='Username'
        spellcheck='false'
        type='text'
        value=values && values.username ? values.username : ''
      )
      if errors && errors.username
        div(class='invalid-feedback') #{errors.username}

    div(class='form-group')
      label(for='password') Password
      input(
        autocomplete='current-password'
        class=`form-control${errors && errors.password ? ' is-invalid' : ''}`
        id='password'
        name='password'
        placeholder='Password'
        type='password'
        value=values && values.password ? values.password : ''
      )
      if errors && errors.password
        div(class='invalid-feedback') #{errors.password}

    //- div(class='form-check')
    //-   input(
    //-     class='form-check-input'
    //-     id='rememberMe'
    //-     name='rememberMe'
    //-     type='checkbox'
    //-   )
    //-   label(class='form-check-label' for='rememberMe') Remember Me

    div(class='d-flex justify-content-between mt-4')
      button(type='submit' class='btn btn-primary' role='button' aria-label='Submit the login form') Log In
      a(href='/signup' class='btn btn-info' role='link' aria-label='Open the account creation page') Create an account
